body {
  margin: 0;
  padding-top: 50px;
}

/*  NavBar  */
nav {
  position: fixed;
  margin-top: -50px;
  width: 100%;
  background-color: #31346C;
  color: white;
  height: 50px;
  justify-content: center;
  font-family: Cambria,'Times New Roman';
  font-size: 20px; 
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 3;
}

nav a{
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  display: block;
  margin-right: 12px;
}

nav a span{
  position: absolute;
  left: 8px;
  bottom: 11px;
  height: 3px;
  width: 0;
  background-color: lightblue;
  transition: width 2s;
}

nav a:hover span{
  width: 90%;
  background-position: right;
}

nav ul li:last-child{
  margin-left: 52%;
}

/*  Footer  */
footer{
  background-color: #31346C;
  padding-top: 25px;
  padding-bottom: 2px;
  text-align: center;
}

footer  a img{
  padding: 5px;
}

footer p{
  color: white;
}
